<footer class="bg-transparent text-black px-8 dark:text-black-300">
    <div class="w-full text-center">
        <hr class="my-6 border-t dark:border-gray-700 w-full lg:my-8" />
        <span class="block text-sm mb-6 text-black dark:text-black-300">© 2024 <a href="/" class="hover:underline text-blue-600">QuarantaCare</a>. All Rights Reserved.</span>
    </div>
</footer>
