<div class="relative min-h-screen backdrop-blur flex flex-col items-center bg-texture bg-cover px-8 sm:py-0">
    <h1 class="text-4xl font-bold text-blue-600 mb-8">About QuarantaCare</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="flex items-center">
            <img src="/images/about.png" alt="About QuarantaCare" class="rounded-md shadow-md mb-4 w-full h-auto">
        </div>

        <div class="flex flex-col">
            <p class="text-gray-800">
                QuarantaCare is a leading healthcare provider dedicated to ensuring the well-being and health of the
                community. With a team of experienced medical professionals and cutting-edge facilities, we strive to
                deliver the highest quality healthcare services.
            </p>

            <p class="text-gray-800 mt-4">
                Our commitment is to create a safe and supportive environment for patients, offering a range of services
                from COVID-19 testing to comprehensive well-being programs.
            </p>

            <p class="text-gray-800 mt-4">
                Join us in our mission to prioritize health, safety, and community well-being.
            </p>
        </div>
    </div>
</div>